:root {
  --padding: 30px;
  --font-small: 14px;
  --font-large: 18px;
  --color-red: #e53935;
  --color-ornge: #ff7043;
  --color-brown: #795548;
  --color-background: #efece6;
  --shirt-size: 40px;
  --pants-size: 25px;
  --skirt-size: 30px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button,
button:hover {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* header - logo */
header {
  padding-top: var(--padding);
  display: flex;
  justify-content: center;
}
.logo {
  width: 100px;
}

.logo img {
  width: 100%;
}
