:root {
  /* size */
  --base-space: 10px;
  --size-logo: 100px;
  --size-button: 40px;
  --size-item: 30px;
  /* color */
  --color-red: #e53935;
  --color-orange: #ff7043;
  --color-brown: #795548;
  --color-background: #efece6;
  --color-white: white;
}

/* base setting */
* {
  font-family: "Roboto";
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

body {
  height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* logo */
body .logo,
body .logo:hover {
  width: var(--size-logo);
  cursor: pointer;
  margin: calc(var(--base-space) * 2);
}

/* buttons */
body .buttons {
  display: flex;
  align-items: center;
  margin-bottom: var(--base-space);
}

body .buttons .btn {
  cursor: pointer;
  margin-right: calc(var(--base-space) * 2);
  /* add animation */
  transition: transform 0.5s ease;
}

body .buttons .btn:hover {
  /* add animation */
  transform: scale(1.1, 1.1);
}

body .buttons .item img {
  width: var(--size-button);
}

body .buttons .color span {
  padding: var(--base-space);
  border-radius: 4px;
  color: white;
}

body .buttons .red span {
  background-color: var(--color-red);
}

body .buttons .orange span {
  background-color: var(--color-orange);
}

body .buttons .brown span {
  background-color: var(--color-brown);
}

/* lists */
.lists {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll; /* item이 100vh를 벗어나면 전체가 아닌 item영역 안에서 스크롤됨*/
}

.lists li {
  display: flex;
  align-items: center;
  margin-bottom: var(--base-space);
  padding: calc(var(--base-space) / 2) var(--base-space);
  background-color: white;
}
.lists li img {
  width: var(--size-item);
  margin-right: var(--base-space);
}
