:root {
  /* color  */
  --color-beige: #f5ead9;
  --color-dark-beige: #f8daae;
  --color-light-orange: #f4bd6f;
  --color-orange: #f1a357;
  --color-black: #262626;

  /* size */
  --base-space: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 이거 빼니까 화질 구려짐*/
  font-family: "Noto Sans KR", sans-serif;
}

body {
  height: 100vh;
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #abbaab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #abbaab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
button,
button:hover {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* container */
.container {
  /* 수평, 수직 센터 정렬 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 크기 설정 */
  width: 400px;
  height: 600px;
  /* border */
  border-radius: 40px;
  box-shadow: 4px 4px 5px gray;
  /* color */
  background-color: var(--color-light-orange);
}
/* title */
.container__title {
  flex: 1 1 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-beige);
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.container__title * {
  padding-right: var(--base-space);
}

.container__title > h1:nth-child(1) {
  color: var(--color-black);
}

.container__title > h1:nth-child(2) {
  color: var(--color-orange);
}

.container__title .fa-carrot {
  color: var(--color-black);
  font-size: 30px;
}

/* lists */
.container__lists {
  overflow-y: scroll;
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container__lists .list {
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border-radius: 40px;
  margin-top: var(--base-space);
}

/* 여기는 js로 lists의 자식으로 추가될텐데 어떻게 꾸미지?
그냥 클래스 이름까지 아래와 동일하게 지정해주면
알아서 내가 정적으로 스타일링 해준 대로 표시되지 않을까? */
.container__lists .list__item {
  padding: var(--base-space);
  color: var(--color-black);
  flex: 1 1 93%;
}

.container__lists .list__btn {
  flex: 1 1 7%;
  margin-right: var(--base-space);
  display: flex; /* 버튼안 쓰레기통 이미지를 가운데 정렬하기 위함.  */
}

.container__lists .list__btn img {
  width: 100%;
}

/* input-form */
.container__input-form {
  flex: 1 1 8%;
  background-color: var(--color-dark-beige);
  display: flex;
  align-items: center;
  margin-bottom: var(--base-space);
  padding: var(--base-space) var(--base-space) var(--base-space)
    calc(var(--base-space) * 2);
  width: 95%;
  border-radius: 40px;
}

.input-form__input {
  flex: 1 1 90%;
  border: none;
  height: 80%;
  background-color: transparent;
}

.input-form__input:focus {
  outline: none;
}

.input-form__addBtn {
  flex: 1 1 10%;
  display: flex;
  justify-content: flex-end;
}

.container__input-form img {
  width: 80%;
}
