:root {
  /* color  */
  --color-beige: #f5ead9;
  --color-light-orange: #f4bd6f;
  --color-orange: #f1a357;
  --color-black: #262626;
  /* size */
  --base-space: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 이거 빼니까 화질 구려짐*/
  font-family: "Noto Sans KR", sans-serif;
}

body {
  height: 100vh;
}
button,
button:hover {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* container */
.container {
  /* 수평, 수직 센터 정렬 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 크기 설정 */
  width: 400px;
  height: 600px;
  /* border */
  border-radius: 40px;
  box-shadow: 4px 4px 5px gray;
  /* color */
  background-color: var(--color-light-orange);
}
/* title */
.container__title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-beige);
  width: 100%;
  height: 10%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.container__title * {
  padding-right: var(--base-space);
}

.container__title > h1:nth-child(1) {
  color: var(--color-black);
}

.container__title > h1:nth-child(2) {
  color: var(--color-orange);
}

.container__title .fa-carrot {
  color: var(--color-black);
  font-size: 30px;
}

/* lists */
.container__lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.container__lists .list {
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border-radius: 40px;
  margin-top: var(--base-space);
}

.container__lists .list__item {
  padding: var(--base-space);
  color: var(--color-black);
  flex: 1 1 93%;
}

.container__lists .list__btn {
  flex: 1 1 7%;
  margin-right: var(--base-space);
}

.container__lists .list__btn button {
  display: flex;
}

.container__lists .list__btn img {
  width: 100%;
}

/* input-form */
